@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5
}

.image {
  margin-bottom: 20px;
}

.image img {
  width: 100px;
}

.container {
  padding: 20px;
  width: 350px;
  background-color: white;
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.05);
}



.container h1 {
  margin: 4px;
}

.container h5 {
  font-weight: 400;
  color: #c8c8c8;
  margin-top: 0;
}

.container form {
  margin: 60px 30px 10px 0;
  font-size: 14px;
}

.container form .submit {
  background-color: #3f46ad;
  color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  margin-top: 16px;
  padding: 11px 30px 12px;
  border: none;

}

.container form .submit:hover {
  cursor: pointer;
  background-color: #393f9e;
}

.container form .submit:active, :focus {
  outline: none
}
