@import url('https://fonts.googleapis.com/css?family=Lato:400,900');

* {
    font-family: 'Lato', sans-serif;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

#sidebar {
  display: inline-block;
  width: 220px;
  color: white;
  text-align: left;
  background-color: #4D394B;
  z-index: 10;
  overflow-y: scroll;
  overflow-x: auto;
  height: 100vh;
}

#sidebar a {
    color: white;
}

#sidebar h3 {
  margin: 20px 20px;
  color: white;
  font-weight: 900;
}

.messages {
    width: calc(100vw - 244px);
    height: 100vh;
    text-align: left;
    display: inline-block;
    padding-left: 20px;
    overflow-y: scroll;
}

.messages .message-container:first-child {
  margin-top: 20px;
}

.messages img {
    background-color: rgb(248, 244, 240);
    width: 36px;
    height: 36px;
    border-radius: 0.2em;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.65em;
    float: left;
}

.messages .time {
    display: inline-block;
    color: rgb(200, 200, 200);
    margin-left: 0.5em;
}

.messages .username {
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}

.messages .message {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    width: calc(100% - 3em);
}

.messages .message .msg {
    line-height: 1.5;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list .channel {
    padding: 4px 20px;
}

.list .channel a {
  width: 100%
  padding: 10px 20px;
}

.list .channel.active {
    background-color: #4C9689;
}

.list .channel.active:hover {
    background-color: #4C9689;
}

.list .channel:hover {
    text-decoration: none;
    background: #3E313C;
}

.list .channel a:hover {
    text-decoration: none;
}

.list .group {
    padding: 4px 20px;
}

.list .group a {
  width: 100%
  padding: 10px 20px;
}

.list .group.active {
    background-color: #4C9689;
}

.list .group.active:hover {
    background-color: #4C9689;
}

.list .group:hover {
    text-decoration: none;
    background: #3E313C;
}

.list .group a:hover {
    text-decoration: none;
}

a:link,
a:visited,
a:active {
    color: #2a80b9;
    text-decoration: none;
}

a:hover {
    color: #439fe0;
    text-decoration: underline;
}
