* {
    font-family: sans-serif;
}

body {
    text-align: center;
    padding: 1em;
}

#fixed {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;

    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;

    text-align: left;
    background-color: #4D394B;
    z-index: 10;
    overflow-y: scroll;
    overflow-x: auto;
}

#fixed a {
    color: white;
}

#fixed h3 {
    color: white;
}

#fluid {
    position: relative;
    z-index: 1;
}

.messages {
    width: 100%;
    max-width: 70vw;
    text-align: left;
    display: inline-block;
    /* For some reason, this pads from the left of the screen
    as opposed to the right of the #fixed div, so we have a decent-ish 25vw
    padding to cover most screens
    XXX Still a hack though */
    padding-left: 25vw;
}

.messages img {
    background-color: rgb(248, 244, 240);
    width: 36px;
    height: 36px;
    border-radius: 0.2em;
    display: inline-block;
    vertical-align: top;
    margin-right: 0.65em;
    float: left;
}

.messages .time {
    display: inline-block;
    color: rgb(200, 200, 200);
    margin-left: 0.5em;
}

.messages .username {
    display: inline-block;
    font-weight: 600;
    line-height: 1;
}

.messages .message {
    display: inline-block;
    vertical-align: top;
    line-height: 1;
    width: calc(100% - 3em);
}

.messages .message .msg {
    line-height: 1.5;
}
