<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ name }}</title>
    <link rel=stylesheet type=text/css
          href="{{ url_for('static', filename='viewer.css') }}">
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
<body>
<div id="fixed">
    <h3>Channels</h3>
    {% for channel in channels %}
        {% if channel == name %}
        <a href="/channel/{{ channel }}">
            <span style="background-color: #ab9ba9">
                #{{ channel }}
            </span>
        </a>
        {% else %}
        <a href="/channel/{{ channel }}">#{{ channel }}</a>
        {% endif %}
        <br />
    {% endfor %}
</div>
<div id="fluid" class="messages">
    {% for message in messages %}
    <div>
        <img src="{{ message.img }}"/>
        <div class="message">
            <div class="username">{{ message.username }}</div>
            <div class="time">{{ message.time }}</div>
            <div class="msg">{{ message.msg|safe }}</div>
        </div>
    </div>
    <br/>
    {% endfor %}
</div>
<script type="text/javascript">
    console.log("Scrolling to bottom...");
//    var fluid = $('#fluid');
//    fluid.animate({
//        scrollTop: fluid[0].scrollHeight - fluid[0].clientHeight
//    }, 1000);
    // fluid.scrollIntoView(false);
    // console.log(fluid.prop("scrollHeight"));
    function gotoBottom(id){
        var div = document.getElementById(id);
        console.log(div.className);
        console.log(div.scrollTop);
        console.log(div.scrollHeight);
        console.log(div.clientHeight);
        div.scrollTop = div.scrollHeight;
        console.log(div.scrollTop);
        $(document).scrollTop(div.scrollHeight);
    }
    gotoBottom("fluid");
    //console.log()
</script>
</body>
</html>
