<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ name }}</title>
    <link rel=stylesheet type=text/css
          href="{{ 'viewer.css' }}">
</head>
<body>
<div id="fixed">
    <h3>Channels</h3>
    <ul id="channel-list">
        {% for channel in channels %}
            <li class="channel{% if channel == name %}active{% endif %}">
                <a href="{{ channel }}.html">
                    #{{ channel }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
<div class="messages" id="fluid">
    {% for message in messages %}
        <div>
          <div id="{{ message.id }}">
            <img src="{{ message.img }}"/>
            <div class="message">
                <div class="username">{{ message.username }}</div>
                <a href="#{{ message.id}}"><div class="time">{{ message.time }}</div></a>
                <div class="msg">{{ message.msg|safe }}</div>
            </div>
          </div>
        </div>
        <br/>
    {% endfor %}
</div>
<script type='text/javascript'>
    var objDiv = document.getElementById("fluid");
    objDiv.scrollTop = objDiv.scrollHeight;
</script>
</body>
</html>
